.spellnt-is-sketchful {
    .header a div {
        display: inline-block;
        height: 8rem;
        width: 24rem;
        color: transparent;
        background-image: url('/022a7794c0f2ba1d6a52.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }
}
