.spellnt-is-sketchful {
    .hat,
    .eyes,
    .mouth,
    .body {
        position: absolute;
        width: 198px;
        height: 198px;
        background-repeat: no-repeat;
        background-size: auto;
    }
}
