.spellnt-is-sketchful {
    .modal-dialog {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-content {
        background-color: #fff;
    }
    .modal-title {
        display: inline-block;
    }
    .close {
        float: right; // TODO Change modal header to be flex?
    }
}
