.spellnt-is-sketchful {
    .menuNav {
        background-color: #fff;

        ul {
            list-style-type: none;
            // v TODO Delete?
            padding-left: 0;
            margin-bottom: 0;
        }
    }
    .menuNavRightLogin a {
        color: transparent;
    }
    ul.nav {
        list-style: none;
        // v TODO Delete?
        padding-left: 0;
        margin-bottom: 0;
    }
}
